# Created by .ignore support plugin (hsz.mobi)
.idea/
.ipynb_checkpoints/
cifar-10-batches-py/
cifar-10-python.tar.gz
*.p
checkpoint
/image_classification.meta
/image_classification.data-00000-of-00001
/image_classification.index